*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
#navbar{
    width: 100%;
 
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#navbar > div{
    background-color: rgb(124, 129, 129);
    text-align: center;
    padding: 15px;
}
#navbar > div > a{
    color:  white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#regtext{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: teal;
}

#container{
    width: 90%;
    margin: auto;
    
    
}
table{
   
    width: 100%;
    margin: auto;
    text-align: center;
}

th{
    width: 15%;
    padding: 10px;
    color: rgb(54, 53, 53);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 202, 202);
}
td{
    width: 15%;
    padding: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 81, 85);
}
.add{
   background-color: rgb(22, 175, 30);
   color: white;
   width: 65px;
   cursor: pointer;
   font-size: 10px;
   border: 0;
   margin-top: 5px;
   padding: 5px;
   padding-left: 5px;   
   border-radius: 5px;
}
.delete{
    background-color: rgb(233, 43, 18);
    color: white;
    width: 65 px;
    font-size: 10px;
    cursor: pointer;
    border: 0;
    margin-top: 5px;
    margin-left: 10px;
    padding: 6px;
    border-radius: 5px;
 }
 #vaccineFilter{

    border: 0;
    border-radius: 2px;
    padding: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
 }
 #Priority{
    border: 0;
    border-radius: 2px;
    padding: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
 }
 #ageSort{
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
    background-color: teal;
    color: white;
 }
 option{
    background-color: rgb(88, 86, 86); 
 }


